@import 'variables';
@import 'admin-crud';

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.profile-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-req {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
  border-bottom: 1px solid $borderColor;
}
