<mat-toolbar class="topbar">
  <button mat-icon-button (click)="toggleMobileNav.emit()" *ngIf="!showToggle">
    <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
  </button>

  <button mat-icon-button aria-label="Notificaciones" (click)="showAlerts()">
    <i-tabler
      class="d-flex"
      name="bell"
      matBadgeHidden="{{ alertsActive === 0 }}"
      matBadge="{{ alertsActive }}"
      matBadgeColor="warn"
    ></i-tabler>
  </button>

  <span class="flex-1-auto"></span>

  <button mat-icon-button [matMenuTriggerFor]="profilemenu" aria-label="Perfil">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #profilemenu="matMenu" class="topbar-dd cardWithShadow">
    <div class="p-x-12 m-t-12">
      <a (click)="closeSession()" mat-stroked-button color="primary" class="w-100">
        Cerrar sesión
      </a>
    </div>
  </mat-menu>
</mat-toolbar>
