@use '@angular/material' as mat;

$bluetheme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$blue-palette,
    tertiary: mat.$cyan-palette,
  ),
  typography: (
    brand-family: 'Plus Jakarta Sans',
    plain-family: 'Plus Jakarta Sans',
  ),
));

:root {
  --primary-color: #5d87ff;
  --accent-color: #44b7f7;
  --warn-color: #fa896b;
}

.bg-primary {
  background: var(--primary-color) !important;
}
