@import 'admin-crud';

.member-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;

  &__info {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__avatar {
    font-size: 32px;
    width: 32px;
    height: 32px;
    color: $primary;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__role-select {
    width: 130px;
  }
}
