@import 'variables';

.confirm-action {
  background: $light-warning;
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
  padding: 16px;

  &__message {
    color: $warning;
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__buttons {
    display: flex;
    gap: 8px;
  }
}
