<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <!-- <a [routerLink]="['/dashboard']"> -->
            <img src="assets/images/logos/apuntate.png" class="align-middle m-2"
                 alt="logo" style="max-width: 100%; height: auto;" />
            <!-- </a> -->
            <h1>Registro de nueva organización</h1>
            <p class="mat-body-1 text-muted m-b-0">
              Crea una nueva organización y tu cuenta de administrador.
              Si perteneces a una agrupación existente, solicita acceso a tu responsable.
            </p>
          </div>

          <form class="m-t-30" (ngSubmit)="submit()" [formGroup]="form">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Agrupación</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="text" placeholder="Nombre de la agrupación" formControlName="org">
              <mat-error *ngIf="f.org.invalid && (f.org.dirty || f.org.touched)">
                <span *ngIf="f.org.errors?.['required']">Nombre de la agrupación obligatorio</span>
              </mat-error>
            </mat-form-field>

            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Nombre</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="text" placeholder="Nombre" formControlName="uname">
              <mat-error *ngIf="f.uname.invalid && (f.uname.dirty || f.uname.touched)">
                <span *ngIf="f.uname.errors?.['required']">Username is required</span>
              </mat-error>
            </mat-form-field>

            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Email</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="email" placeholder="Email" formControlName="email">
              <mat-error *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)">
                <span *ngIf="f.email.errors?.['required']">Email is required</span>
                <span *ngIf="f.email.errors?.['email']">Email is invalid</span>
              </mat-error>
            </mat-form-field>

            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Password</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" placeholder="Password" formControlName="password">
              <mat-error *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
                <span *ngIf="f.password.errors?.['required']">Password is required</span>
                <span *ngIf="f.password.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres</span>

              </mat-error>
            </mat-form-field>

            <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid" class="w-100">Registrarse</button>
          </form>
          <span class="d-block f-w-500 text-center m-t-24">¿Ya tienes cuenta?
            <a [routerLink]="['/login']" class="text-decoration-none text-primary f-w-500 f-s-14">
              Log in</a>
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
