<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 col-sm-8 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <img src="assets/images/logos/apuntate.png" class="align-middle m-2 auth-logo" alt="logo" />
            <h1>Registro de nueva organizaci&oacute;n</h1>
            <p class="mat-body-1 text-muted m-b-0">
              Crea una nueva organizaci&oacute;n y tu cuenta de administrador. Si perteneces a una agrupaci&oacute;n
              existente, solicita acceso a tu responsable.
            </p>
          </div>

          <app-feedback-message [message]="message" class="m-t-16"></app-feedback-message>

          <form class="m-t-30" (ngSubmit)="submit()" [formGroup]="form">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Agrupaci&oacute;n</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="text" placeholder="Nombre de la agrupación" formControlName="org" />
              <mat-error *ngIf="f.org.invalid && (f.org.dirty || f.org.touched)">
                <span *ngIf="f.org.errors?.['required']">Nombre de la agrupaci&oacute;n obligatorio</span>
              </mat-error>
            </mat-form-field>

            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Nombre</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="text" placeholder="Nombre" formControlName="uname" />
              <mat-error *ngIf="f.uname.invalid && (f.uname.dirty || f.uname.touched)">
                <span *ngIf="f.uname.errors?.['required']">El nombre es obligatorio</span>
              </mat-error>
            </mat-form-field>

            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Email</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="email" placeholder="Email" formControlName="email" />
              <mat-error *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)">
                <span *ngIf="f.email.errors?.['required']">El email es obligatorio</span>
                <span *ngIf="f.email.errors?.['email']">El email no es v&aacute;lido</span>
              </mat-error>
            </mat-form-field>

            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Contrase&ntilde;a</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" placeholder="Contraseña" formControlName="password" />
              <mat-error *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
                <span *ngIf="f.password.errors?.['required']">La contrase&ntilde;a es obligatoria</span>
                <span *ngIf="f.password.errors?.['minlength']"
                  >La contrase&ntilde;a debe tener al menos 6 caracteres</span
                >
              </mat-error>
            </mat-form-field>

            <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid || loading" class="w-100">
              <mat-progress-spinner
                *ngIf="loading"
                diameter="20"
                mode="indeterminate"
                class="spinner-inline"
              ></mat-progress-spinner>
              {{ loading ? 'Registrando...' : 'Crear cuenta' }}
            </button>
          </form>
          <span class="d-block f-w-500 text-center m-t-24"
            >&iquest;Ya tienes cuenta?
            <a [routerLink]="['/login']" class="text-decoration-none text-primary f-w-500 f-s-14">
              Iniciar sesi&oacute;n</a
            >
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
