includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - src
        - tests
    excludePaths:
        - src/Controller/Admin/*
        - src/Type/EnumType.php
    reportUnmatchedIgnoredErrors: false
