<h1>Nuevo servicio</h1>

<app-feedback-message [message]="message"></app-feedback-message>

<form (ngSubmit)="sendForm()" [formGroup]="serviceForm">
  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Nombre</mat-label>
    <input matInput required formControlName="name" />
    <mat-error *ngIf="serviceForm.get('name')?.hasError('required')">El nombre es obligatorio</mat-error>
    <mat-hint>Nombre del servicio</mat-hint>
  </mat-form-field>

  <div class="row">
    <mat-form-field appearance="fill">
      <mat-label>Categor&iacute;a</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let category of ServiceCategory | keyvalue" [value]="category.key">
          {{ category.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Prioridad</mat-label>
      <mat-select formControlName="priority">
        <mat-option *ngFor="let priority of ServicePriority | keyvalue" [value]="priority.key">
          {{ priority.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Tipo</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let type of ServiceType | keyvalue" [value]="type.key">
          {{ type.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Descripci&oacute;n</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <button type="submit" color="primary" mat-flat-button>Guardar</button>
</form>
