<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 col-sm-8 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <img src="assets/images/logos/apuntate.png" class="align-middle m-2 auth-logo" alt="logo" />
          </div>

          <app-feedback-message [message]="message" class="m-t-16"></app-feedback-message>

          <form class="m-t-30" (ngSubmit)="login()" [formGroup]="credentials">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Email</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="email" placeholder="Email" formControlName="email" />
              <mat-error *ngIf="(email?.dirty || email?.touched) && email?.errors">
                <span *ngIf="email?.errors?.['required']">El email es obligatorio</span>
                <span *ngIf="email?.errors?.['email']">El email no es v&aacute;lido</span>
              </mat-error>
            </mat-form-field>

            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Contrase&ntilde;a</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" placeholder="Contraseña" formControlName="password" />
              <mat-error *ngIf="(password?.dirty || password?.touched) && password?.errors">
                <span *ngIf="password?.errors?.['required']">La contrase&ntilde;a es obligatoria</span>
                <span *ngIf="password?.errors?.['minlength']"
                  >La contrase&ntilde;a debe tener al menos 6 caracteres</span
                >
              </mat-error>
            </mat-form-field>

            <div class="d-flex align-items-center m-b-12">
              <mat-checkbox color="primary">Recordar dispositivo</mat-checkbox>
            </div>
            <button
              mat-flat-button
              color="primary"
              type="submit"
              [disabled]="!credentials.valid || loading"
              class="w-100"
            >
              <mat-progress-spinner
                *ngIf="loading"
                diameter="20"
                mode="indeterminate"
                class="spinner-inline"
              ></mat-progress-spinner>
              {{ loading ? 'Iniciando sesi&oacute;n...' : 'Iniciar sesi&oacute;n' }}
            </button>
          </form>
          <span class="d-block f-w-500 text-center m-t-24"
            >&iquest;A&uacute;n sin cuenta?
            <a [routerLink]="['/register']" class="text-decoration-none text-primary f-w-500 f-s-14">
              Reg&iacute;strate</a
            >
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
